/vendor/
/logs/*
!/logs/README.md
/storage/model/*
/storage/instance/*
/storage/solution/*
!/storage/model/README.md
!/storage/instance/README.md
!/storage/solution/README.md

#/templates/cache/*
!/templates/cache/README.md
.DS_STORE
composer.lock
